apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: ingress-nginx
  namespace: kube-system
spec:
  chart: ingress-nginx
  repo: https://kubernetes.github.io/ingress-nginx
  targetNamespace: ingress-nginx
  createNamespace: true
  version: "${IngressNginxVersion}"
  bootstrap: true
  valuesContent: |-
    controller:
      kind: DaemonSet
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet

      # We do not need a Kubernetes LoadBalancer service because
      # the external Hetzner/DO Load Balancer routes directly to the nodes.
      service:
        type: ClusterIP

      config:
        # Mandatory: Matches the proxyprotocol = true in your Terraform LB config
        use-proxy-protocol: "true"
