redis-ha:
  enabled: false
controller:
  replicas: 1
repoServer:
  replicas: 1
applicationSet:
  replicas: 1
server:
  replicas: 1
  extraArgs:
    - --insecure
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-${CloudEnv}"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    hosts:
      - "${ArgoHost}"
    tls:
      - secretName: argocd-tls
        hosts:
          - "${ArgoHost}"
  volumeMounts:
    - mountPath: /app/config
      name: argocd-cmd-params-cm-mount
