@import "tailwindcss";

@theme {
    --font-mono: "Roboto Mono", monospace;
    --animate-loading: loading 2s ease-in-out infinite;

    @keyframes loading {
        0% {
            width: 0%;
            margin-left: 0%;
        }
        50% {
            width: 100%;
            margin-left: 0%;
        }
        100% {
            width: 0%;
            margin-left: 100%;
        }
    }
}

/* Enable manual class-based dark mode toggling */
@variant dark (&:where(.dark, .dark *));
