apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: loki
  namespace: kube-system
spec:
  chart: loki
  repo: https://grafana.github.io/helm-charts
  targetNamespace: observability
  version: "${LokiVersion}"
  bootstrap: true
  valuesContent: |-
    loki:
      auth_enabled: false
      commonConfig:
        replication_factor: 1
      storage:
        type: 'filesystem'
    singleBinary:
      replicas: 1
      persistence:
        enabled: true
        size: 10Gi
        storageClass: hcloud-volumes
