apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: victoria-metrics-single
  namespace: kube-system
spec:
  chart: victoria-metrics-single
  repo: https://victoriametrics.github.io/helm-charts/
  targetNamespace: monitoring
  createNamespace: true
  version: "${VictoriaMetricsVersion}"
  bootstrap: true
  valuesContent: |-
    server:
      retentionPeriod: 14d
      persistentVolume:
        enabled: true
        size: 10Gi
        storageClass: hcloud-volumes
      resources:
        limits:
          memory: 512Mi
        requests:
          cpu: 50m
          memory: 128Mi
