apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: grafana
  namespace: kube-system
spec:
  chart: grafana
  repo: https://grafana.github.io/helm-charts
  targetNamespace: monitoring
  version: "${GrafanaVersion}"
  bootstrap: true
  valuesContent: |-
    persistence:
      enabled: true
      size: 5Gi
      storageClass: hcloud-volumes
    service:
      type: ClusterIP
    adminPassword: "admin" # TODO: Change this

    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: VictoriaMetrics
            type: prometheus
            url: http://victoria-metrics-single-server.monitoring.svc.cluster.local:8428
            access: proxy
            isDefault: true
          - name: Loki
            type: loki
            url: http://loki.monitoring.svc.cluster.local:3100
            access: proxy
