apiVersion: v1
kind: ServiceAccount
metadata:
  name: cert-manager-bootstrap
  namespace: cert-manager
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cert-manager-bootstrap
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: cert-manager-bootstrap
    namespace: cert-manager
---
apiVersion: batch/v1
kind: Job
metadata:
  name: create-cluster-issuer
  namespace: cert-manager
spec:
  template:
    spec:
      serviceAccountName: cert-manager-bootstrap
      restartPolicy: OnFailure
      containers:
        - name: kubectl
          image: bitnami/kubectl:latest
          command:
            - /bin/sh
            - -c
            - |
              echo "Waiting for Cert-Manager CRDs..."
              until kubectl get crd clusterissuers.cert-manager.io; do sleep 5; done
              echo "Applying ClusterIssuer..."
              kubectl apply -f - <<ISSUER_EOF
              apiVersion: cert-manager.io/v1
              kind: ClusterIssuer
              metadata:
                name: letsencrypt-${CloudEnv}
              spec:
                acme:
                  server: https://acme-v02.api.letsencrypt.org/directory
                  email: ${LetsEncryptEmail}
                  privateKeySecretRef:
                    name: letsencrypt-${CloudEnv}
                  solvers:
                  - http01:
                      ingress:
                        class: nginx
              ISSUER_EOF
