#cloud-config
hostname: ${hostname}
manage_etc_hosts: true

runcmd:
  - netplan apply
  - echo "=== Starting Server Node Bootstrap ==="
  - >
    /usr/local/bin/infra-bootstrap
    --role server
    --hostname "${hostname}"
    --cloud-env "${cloud_env}"
    --k3s-token "${k3s_token}"
    --load-balancer-ip "${load_balancer_ip}"
    --tailscale-auth-key "${tailscale_auth_server_key}"
    --tailscale-tag "${tailscale_tag}"
    --init ${k3s_init}
    --s3-bucket "${s3_bucket}"
    --s3-access "${s3_access_key}"
    --s3-secret "${s3_secret_key}"
    --hcloud-token "${hcloud_token}"
    --hcloud-network-name "${hcloud_network_name}"
    --letsencrypt-email "${letsencrypt_email}"
  - echo "=== Server Node Bootstrap Complete ==="
