package pages

import "github.com/kendricklawton/project-platform/core/internal/web/ui/components"

templ SplashPage(status string, userName string) {
	@components.Layout("Project Platform | The cloud for compiled languages", userName) {
		@SplashContent(status, userName)
	}
}

templ SplashContent(status string, userName string) {
	@LiquidComputeContent(userName)
	@MetalComputeContent(userName)
}
