apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: hcloud-cloud-controller-manager
  namespace: kube-system
spec:
  chart: hcloud-cloud-controller-manager
  repo: https://charts.hetzner.cloud
  targetNamespace: kube-system
  version: "${HcloudCCMVersion}"
  bootstrap: true
  set:
    networking.enabled: "true"
